n8n/KB_Search_API.workflow.json
{
  "name": "KB Search API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-search",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1a10000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "b1a10000-0000-4000-8000-0000000000aa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ON_IMPORT",
          "name": "KB Search Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull the email text the add-in sent and cap its length before embedding.\nconst j = $input.first().json;\nconst body = (j && j.body) ? j.body : j;\nconst text = String((body && body.text) || '').slice(0, 6000);\nreturn [{ json: { query: text } }];"
      },
      "id": "b1a10000-0000-4000-8000-000000000002",
      "name": "Prep Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "b1a10000-0000-4000-8000-000000000003",
      "name": "KB Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [640, 480],
      "credentials": {
        "openAiApi": {
          "id": "TDtbQaKHppnJtt2h",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "prompt": "={{ $json.query }}",
        "qdrantCollection": {
          "__rl": true,
          "value": "purlfrost-rag",
          "mode": "list",
          "cachedResultName": "purlfrost-rag"
        },
        "topK": 8,
        "includeDocumentMetadata": true,
        "options": {}
      },
      "id": "b1a10000-0000-4000-8000-000000000004",
      "name": "KB Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [700, 300],
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "lpXb7g4iLAJlO0L2",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate the <=8 Qdrant doc items into one { context, hits } payload.\nconst docs = $input.all();\nconst parts = [];\nfor (const d of docs) {\n  const jj = (d && d.json) ? d.json : {};\n  const doc = jj.document || jj;\n  const content = doc.pageContent ?? doc.content ?? jj.text ?? '';\n  if (content && String(content).trim()) parts.push(String(content).trim());\n}\nconst context = parts.length\n  ? parts.map((c, i) => `[${i + 1}] ${c}`).join('\\n\\n')\n  : '';\nreturn [{ json: { context, hits: parts.length } }];"
      },
      "id": "b1a10000-0000-4000-8000-000000000005",
      "name": "Combine KB Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "b1a10000-0000-4000-8000-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prep Query", "type": "main", "index": 0 }]] },
    "Prep Query": { "main": [[{ "node": "KB Search", "type": "main", "index": 0 }]] },
    "KB Search": { "main": [[{ "node": "Combine KB Context", "type": "main", "index": 0 }]] },
    "Combine KB Context": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "KB Embeddings": { "ai_embedding": [[{ "node": "KB Search", "type": "ai_embedding", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
